/* Global styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --main-font-color: #fff; /*Edytując tę linijkę kodu - zmieni się kolor czcionki w kazdym miejscu na stronie gdzie jest użyta ta zmienna */
    --dark-font-color: #1b1b1b;
    --hover-color: rgb(11, 135, 172);
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Merriweather', serif;
}

html {
    font-family: var(--main-font); /*Zmienna z główną czcionką*/
    font-size: 10px;
    color: var(--main-font-color); /*Uzyta zmienna z kolorem*/
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: var(--main-font-color);
}

body {
    min-height: 100vh;
    background: linear-gradient(#2b1055, #7597de);
}

.container {
    width: 100%;
    max-width: 122.5rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}

/* Nav styles */
header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(to bottom, rgba(0,0,0,.5), transparent);
}

.nav {
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-toggle {
    font-size: 2.2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2.5rem;
    cursor: pointer;
    z-index: 1500;
}

.fa-times {
    display: none;
}

.nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 40%;
    height: 100vh;
    background-color: var(--dark-font-color);
    padding: 4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1250;
    transform: translateX(-100%);
    transition: transform .5s;
}

.nav::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1000;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;
}

.logo {
    font-size: 4rem;
    font-weight: bold;
    transition: all .3s;
}

.logo:hover {
    text-shadow: 3px 3px 8px #00000041;
}

.open .fa-times {
    display: block;
}

.open .fa-bars {
    display: none;
}

.open .nav-list {
    transform: translateX(0);
}

.open .nav::before {
    opacity: 1;
    transform: scale(1);
}

.nav-item {
    border-bottom: 2px solid rgba(255, 255, 255, .4);
}

.nav-link {
    display: block;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: .1rem;
    margin-right: -.1rem;
    transition: color .5s;
}

.nav-link:hover {
    color: var(--hover-color);
}

/* Home section styles */
.home {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(104, 58, 58, .7), rgba(0, 0, 0, .7)), url(../img/home-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    text-align: center;
}

.sub-headline {
    letter-spacing: .2rem;
    font-weight: 100;
    line-height: .8;
    font-size: 8.5rem;
    font-family: var(--secondary-font);
    color: rgb(139, 245, 204);
}

.first-letter {
    text-transform: uppercase;
    font-size: 10.3rem;
}

.headline {
    font-size: 3.7rem;
    font-family: var(--main-font);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .5rem;
    margin-right: -.5rem;
}

.separator {
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    width: 100%;
    max-width: 12.6rem; /*Do zmiany szerokość*/
    height: .35rem;
    background-color: #fff;
    position: relative;
}

.line-right::before,
.line-left::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: .6rem solid transparent;
}

.line-right::before {
    border-right-color: #fff;
    right: 0;
}

.line-left::before {
    border-left-color: #fff;
    left: 0;
}

.asterisk {
    font-size: 1.2rem;
    color: rgb(139, 245, 236);
    margin: 0 1.6rem;
}

.headline-description h5 {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 100;
    text-transform: uppercase;
    margin-top: .6rem;
    font-weight: bold;
}

.btn {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-right: -.2rem;
}

.cta-btn {
    font-size: 1.1rem;
    background-color: #fff;
    padding: .9rem 1.8rem;
    color: var(--dark-font-color);
    border-radius: .4rem;
    transition: background-color .5s;
    margin-top: 1rem;
}

.cta-btn:hover,
.cta-btn:focus {
    color: #fff;
    background-color: var(--dark-font-color);
}

